.contato {
  margin: 0px auto;
  max-width: 1200px;
}

.contato h1 {
  width: 1140px;
  color: #a0a0a0;
  font-weight: 700;
  font-size: 7.75rem;
  line-height: 7.75rem;
  letter-spacing: 0.81em;
  text-align: center;
  margin: 0px auto 150px auto;
}
.contato .p1 {
  color: #a0a0a0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  max-width: 30ch;
  margin-bottom: 100px;
}

.contato .p2 {
  color: #a0a0a0;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: right;
  margin-bottom: 90px;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
  footer {
    margin: 0px auto;
    max-width: 800px;
  }
  .contato h1 {
    font-size: 6rem;
    line-height: 6rem;
    width: 880px;
    letter-spacing: 0.81em;
    margin: 0px auto 100px auto;
  }
  .contato .p1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    max-width: 30ch;
    margin: 0px auto 100px 156px;
  }
  .contato .p2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0px 156px 90px auto;
  }
}

@media (max-width: 900px) {
  .contato {
    gap: 30px;
    max-width: 550px;
  }
  .contato h1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.8em;
    margin: 0px auto;
    width: 440px;
  }
  .contato .p1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    min-width: 15ch;
    margin: 100px auto 100px 50px;
  }
  .contato .p2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-emphasis: bold;
    text-align: right;
    margin: 100px 50px 100px auto;
  }
}

@media (max-width: 480px) {
  .contato h1::after {
    display: none;
  }
  .contato h1::before {
    display: none;
  }
  .contato h1 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.7em;
    margin: 0px auto;
    width: 270px;
  }
  .contato .p1,
  .contato .p2 {
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    margin: 40px auto;
  }
}
