.formacao {
  display: block;
  text-align: center;
  margin: 140px auto 100px auto;
  justify-content: center;
  justify-items: center;
}

.formacao h1 {
  color: #dfdfdf;
  font-size: 7.75rem;
  line-height: 7rem;
  margin-bottom: 50px;
}

.formacao p {
  color: #ededed;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 50px;
}

.formacao span {
  color: #f0966f;
  text-emphasis: bold;
}

.ul-itens {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 30px;
  margin: 0px auto 50px auto;
}

.tecnico-2 {
  background-color: #323232;
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  position: relative;
}

.form-2 h3 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 31px;
  text-emphasis: semibold;
}

.form-2 .p1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 2px;
  text-align: left;
  text-emphasis: 500px;
}

.form-2 .p2 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 31px;
  text-align: left;
}

.form-2 .p3 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}

.form-3 {
  background-color: #323232;
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  position: relative;
  align-self: space-between;
}

.form-3::after {
  content: "";
  display: block;
  width: 60px;
  height: 52px;
  position: absolute;
  top: 58px;
  right: 210px;
  z-index: -1;
  background-image: url(../../SVG/detalhe-formacao-3.svg);
}

.form-3 h3 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 31px;
  text-emphasis: semibold;
}

.form-3 .p1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 2px;
  text-align: left;
  text-emphasis: 500px;
}

.form-3 .p2 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 55px;
  text-align: left;
}

.form-3 .p3 {
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-right: 10px;
  text-align: left;
}

/* CURSOS INTENSIVOS */

.t1 {
  max-width: 260px;
  color: #f5f5f5;
  font-size: 1.625rem;
  line-height: 1.625rem;
  text-align: center;
  position: relative;
  margin: 0px auto 40px auto;
}

.t1::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../../SVG/cursos.svg);
  position: absolute;
  top: -13px;
  left: -30px;
}

.t2 {
  max-width: 200px;
  color: #f5f5f5;
  font-size: 1.625rem;
  line-height: 1.625rem;
  text-align: center;
  position: relative;
  margin: 0px auto 40px auto;
}

.t2::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../../SVG/idiomas.svg);
  position: absolute;
  top: -13px;
  left: -30px;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0px auto;
  gap: 30px;
  margin-bottom: 50px;
}

.cursos-1 {
  background-color: #4f4f4f;
  padding: 10px 20px;
  border-radius: 10px;
}

.cursos-1 .p1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
}

.cursos-1 .p2 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0px;
}

.cursos-1 h3 {
  color: #bfbfbf;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}

.cursos-2 {
  background-color: #4f4f4f;
  padding: 10px 20px;
  border-radius: 10px;
}

.cursos-2 .p1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
}

.cursos-2 .p2 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0px;
}

.cursos-2 h3 {
  color: #bfbfbf;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}

.idiomas {
  padding: 15px 30px;
  background-color: #4f4f4f;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  margin: 0px auto;
}
.idiomas h3 {
  font-size: 1.625rem;
  line-height: 1.625rem;
  padding-right: 30px;
  color: #fff;
  display: inline-block;
}

.idiomas p {
  display: inline-block;
  text-align: right;
  margin: 0px;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
  .formacao {
    margin: 100px auto;
  }
  .formacao h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin: 0px auto 30px auto;
  }
  .formacao p {
    font-size: 1.25rem;
    margin: 0px auto 30px auto;
  }
  .ul-itens img {
    max-width: 230px;
    justify-items: center;
  }
  .ul-itens {
    max-width: 710px;
    gap: 10px;
  }
  .cursos {
    gap: 20px;
    max-width: 558px;
  }
  .t1 {
    max-width: 220px;
    font-size: 1.35rem;
  }

  .t2 {
    max-width: 190px;
    font-size: 1.35rem;
  }

  .t2 h3,
  p {
    font-size: 1.25rem;
  }
  .cursos-1 h3 {
    font-size: 1.2rem;
    margin: 0px;
  }
  .cursos-1 .p1,
  .cursos-2 .p1 {
    margin-bottom: 0px;
    font-size: 1.1rem;
  }
  .cursos-1 .p2,
  .cursos-2 .p2 {
    font-size: 1.2rem;
  }
  .cursos-2 h3,
  .p1 {
    font-size: 1.2rem;
  }
  .idiomas {
    max-width: 220px;
    padding: 10px 20px;
  }
  .idiomas p {
    margin-bottom: 0px;
  }
  .idiomas h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .formacao {
    margin: 0px auto 50px auto;
  }
  .formacao h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 30px auto 20px auto;
  }
  .formacao p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .ul-itens img {
    max-width: 150px;
    justify-items: center;
  }
  .ul-itens {
    width: 490px;
    gap: 20px;
  }
  .cursos {
    width: 460px;
    gap: 20px;
  }
  .t1,
  .t2 {
    font-size: 1.25rem;
  }
  .t2 h3,
  p {
    font-size: 1rem;
  }
  .t1 {
    width: 160px;
  }
  .t1::after {
    left: -55px;
  }
  .t2 {
    width: 120px;
  }
  .t2::after {
    left: -50px;
  }
  .cursos-1 h3,
  .cursos-1 .p1,
  .cursos-2 .p1,
  .cursos-1 .p2,
  .cursos-2 h3,
  .cursos-2 .p2 {
    font-size: 1rem;
  }
  .idiomas h3 {
    font-size: 1rem;
    padding-right: 50px;
  }
  .idiomas {
    padding: 10px 20px;
  }
  .cursos-1 .p2,
  .cursos-1 .p1,
  .cursos-2 .p2,
  .cursos-2 .p1 {
    display: inline-block;
  }
  .cursos-1 .p1 {
    padding-right: 80px;
  }
  .cursos-2 .p1 {
    padding-right: 100px;
  }
  .cursos-1,
  .cursos-2 {
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .formacao {
    margin: 0px auto;
    gap: 15px;
    padding: 10px;
    justify-content: center;
  }
  .formacao h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0px auto 15px auto;
  }
  .formacao p {
    font-size: 0.5rem;
    line-height: 0.5rem;
    max-width: 60ch;
    margin: 0px auto 15px auto;
  }
  .itens img {
    width: 70px;
    margin: 0px auto;
  }
  .itens {
    width: 240px;
    margin: 0px auto;
  }
  .ul-itens {
    max-width: fit-content;
    gap: 10px;
    margin-bottom: 30px;
  }
  .cursos {
    gap: 10px;
    width: 241px;
    margin: 0px auto 20px auto;
  }
  .ul-cursos {
    width: 240px;
    margin: 0px auto;
  }
  .cursos-1,
  .cursos-2 {
    padding: 5px 10px;
    border-radius: 4px;
  }
  .t1,
  .t2 {
    font-size: 0.75rem;
    line-height: 0.8rem;
    margin: 0px auto 20px auto;
  }
  .t2 {
    width: 70px;
  }
  .t1::after,
  .t2::after {
    display: none;
  }
  .idiomas {
    border-radius: 4px;
    width: 80px;
    padding: 5px 10px;
    align-self: center;
    margin: 0px auto 20px auto;
  }
  .idiomas h3,
  .idiomas p {
    font-size: 0.5rem;
    align-self: center;
    line-height: 0.5rem;
    margin: 0px;
    text-align: center;
  }
  .idiomas h3 {
    padding-right: 10px;
  }
  .cursos-1 .p2,
  .cursos-1 .p1,
  .cursos-2 .p2,
  .cursos-2 .p1,
  .cursos-2 h3,
  .cursos-1 h3 {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
  .cursos-1 .p2,
  .cursos-1 .p1,
  .cursos-2 .p2,
  .cursos-2 .p1 {
    display: block;
  }
  .cursos-1 .p1 {
    padding-right: 30px;
    margin: 0px;
    text-align: left;
  }
  .cursos-2 .p1 {
    padding-right: 40px;
    margin: 0px;
    text-align: left;
  }
}
