.intro {
  max-width: 1000px;
  margin: 130px auto 180px auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.tec {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  align-items: center;
}

.chamada h1 {
  font-size: 5rem;
  line-height: 4.375rem;
  margin-bottom: 1.375rem;
  position: relative;
}

.intro h1::before {
  content: "";
  width: 83px;
  height: 85px;
  display: block;
  position: absolute;
  background: url(../../SVG/det-d.svg);
  top: -30px;
  left: -25px;
  z-index: -1;
}

.intro h1::after {
  content: "";
  width: 140px;
  height: 100px;
  display: block;
  position: absolute;
  background: url(../../SVG/detalhe-end.svg);
  top: 125px;
  left: 260px;
  z-index: -1;
}

.intro p {
  position: relative;
}

.intro p::after {
  content: "";
  width: 240px;
  height: 72px;
  display: block;
  position: absolute;
  background: url(../SVG/det-jun.svg);
  top: -165px;
  left: -7px;
  z-index: -1;
}

.intro p {
  margin-bottom: 1.375rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
}

.foto {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (max-width: 1280px) {
  .intro {
    gap: 40px;
    max-width: 850px;
    grid-template-columns: auto auto;
    margin: 40px auto;
    justify-content: center;
    align-content: center;
  }
  .foto {
    width: 90%;
  }
  .intro h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    max-width: 390px;
    margin-right: 0px;
  }
  .intro p {
    font-size: 1.25rem;
    line-height: 1.25rem;
    max-width: 390px;
    margin-right: 0px;
  }
  .intro h1::before {
    display: none;
  }
  .intro h1::after {
    display: none;
  }
  .intro p::after {
    display: none;
  }
  .tec {
    display: none;
  }
}

@media (max-width: 900px) {
  .intro {
    width: 400px;
    text-align: left;
    margin: 30px auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .chamada h1 {
    display: block;
    margin: 0px auto;
    justify-self: center;
    width: 150px;
  }
  .chamada p {
    display: block;
  }
  .intro .foto img {
    width: 300px;
  }
  .intro h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 10px;
    margin: 0px;
  }
  .intro p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .tec {
    max-width: 35px;
  }
  .intro p::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .intro {
    max-width: 320px;
    display: block;
    text-align: left;
    padding: 0px;
    margin: 40px 0px;
    justify-content: center;
  }
  .chamada {
    margin: 0px auto;
  }
  .chamada h1 {
    width: 170px;
    display: block;
    padding: 0px;
    margin: 0px auto;
  }
  .chamada p {
    width: 170px;
    display: block;
    margin: 0px auto;
  }
  .intro .foto img {
    display: none;
  }
  .intro {
    max-width: 250px;
    margin: 0px auto;
  }
  .intro h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 10px;
  }
  .intro p {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 20px;
  }
  .tec {
    display: none;
  }
}
