#projects {
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 180px auto 180px auto;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  padding: 45px;
  background-color: #f0966f;
  border-radius: 10px;
}

#projects h1 {
  font-size: 6.25rem;
  line-height: 6rem;
  color: rgba(21, 21, 21, 0.72);
  margin: 0px;
  grid-column: 1 /-1;
}

#projects h2 {
  text-emphasis: bold;
  color: #323232;
}

#projects p {
  grid-column: 1 /-1;
  font-size: 1.75rem;
  text-align: center;
  max-width: 65ch;
}

.itens-projeto {
  display: flex;
  gap: 50px;
  grid-column: 1/-1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #323232;
  font-size: 1rem;
  grid-row: 5;
}

.tags li {
  background-image: linear-gradient(#f9d7c8, #febfa4);
  padding: 10px 20px;
  border-radius: 10px;
}

.tags ul {
  justify-self: left;
}

@media (max-width: 1280px) {
  #projects {
    gap: 10px;
    border-radius: 0;
    margin: 50px 0px;
  }
  #projects h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
  }
  #projects p {
    font-size: 1.2rem;
    margin: 0px auto 20px auto;
  }
  #projects h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    max-width: 100%;
    margin: 0px auto;
  }
  .tags li {
    padding: 7.5px 15px;
    font-size: 0.75rem;
    margin: 0px auto;
  }
  .itens-projeto {
    gap: 20px;
  }
  .tags {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  #projects {
    gap: 10px;
    padding: 30px;
    margin: 60px auto 10px auto;
    border-radius: 0px;
  }
  #projects h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
  }
  #projects p {
    font-size: 1rem;
  }
  #projects h2 {
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
  }
  .tags li {
    padding: 5px 10px;
    font-size: 0.5rem;
    justify-content: center;
    border-radius: 4px;
    margin: 0px;
  }
  .tags {
    justify-content: center;
    gap: 5px;
    margin: 0px;
  }
}

@media (max-width: 480px) {
  #projects {
    gap: 5px;
    padding: 10px;
    justify-content: center;
    margin: 10px auto 0px auto;
  }
  #projects h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
  }
  .itens-projeto {
    width: 100%;
  }
  #projects p {
    font-size: 0.65rem;
    line-height: 0.65rem;
    margin-bottom: 10px;
  }
  #projects h2 {
    font-size: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
  }
  .tags li {
    border-radius: 4px;
    gap: 2px;
    padding: 2px 4px;
    font-size: 0.55rem;
    line-height: 0.6rem;
    font-size: 0.5rem;
  }
  .tags {
    justify-content: center;
    gap: 3px;
  }
  .itens-projeto {
    gap: 5px;
    justify-content: center;
  }
}
